@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Rubik Mono One";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/RubikMonoOne-Regular.woff2) format("woff2");
  }
}

@layer base {
  @font-face {
    font-family: "Arial black";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/ArialBlack.woff2) format("woff2");
  }
}
